@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* цвет фона страницы  #ffffff */
/* декоративный цвет логотипа #2196f3 */
/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* фон кнопки hero без наведения #2196f3 */
/* фон кнопки hero при наведении  #188ce8 */
/* цвет акцентированного текста кнопок #ffffff */
/* цвет акцентированного фона кнопок #188ce8 */
/* цвет акцентированного цвета ссылок #2196f3 */
/* цвет фона разделов hero & footer  #2f303a */
/* установка зазора между элементами flexbox --card-set-gap: 30px; */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* сброс стиля кнопок */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении */
  cursor: pointer;
}

/* сбросс стандартных стилей */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* убираем маркировку списка */
.no-list {
  list-style: none;
}

/* убираем подчеркивание ссылок */
.no-line {
  text-decoration: none;
}

/* скрываем вспомогательные заголовки и др. элементы */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* устанавливаем параметры секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* устанавливаем св-ва Контейнера */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* header - верхняя линия сайта */
.header {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #ececec;
}

/* flexbox для header */
.header-navigation {
  display: flex;
  align-items: center;
}

.navigation-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
}

.navigation-block__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-block__link:hover, .navigation-block__link:focus {
  color: #2196f3;
}

/* установка расстояния 50px между элементами */
.navigation-block__item:not(:last-child) {
  margin-right: 50px;
}

.link-font {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts {
  display: flex;
}

.contacts > .contacts__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__link:hover .e-mail,
.contacts__link:focus .e-mail,
.contacts__link:hover .smartphone,
.contacts__link:focus .smartphone {
  fill: #2196f3;
}

.contacts__link + .contacts__link {
  margin-left: 50px;
}

.e-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone {
  /* display: inline-flex; */
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #2196f3;
}

.current::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translate(-50%, 0);
  width: 48px;
  height: 4px;
  background-image: url(../images/svg/line.svg);
  background-repeat: no-repeat;
}

/* logo style */
.logo {
  display: block;
  /* min-width: 145px; */
  font-family: Raleway, sans-serif;
  color: #212121;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-color {
  color: #2196f3;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.7);
}

/* формирование модального окна */
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px 41px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close__icon {
  fill: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-close:hover .modal-close__icon {
  fill: #2196f3;
}

/* оформление формы ввода данных клиента модального окна */
.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.05;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label__description {
  margin-bottom: 4px;
}

.label__icon {
  position: absolute;
  left: 12px;
  top: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label:nth-child(-n + 5) {
  margin-top: 10px;
}

.label__input-field,
.registration-form__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label:hover .label__icon,
.label__input-field:hover + .label__icon,
.label__input-field:focus + .label__icon {
  fill: #2196f3;
}

.label__input-field :hover,
.label__input-field :focus {
  border: 1px solid #2196f3;
  outline-color: #2196f3;
}

/* назначение ховареа полю ввода при наведении для
выделении его при наведении на иконку, когда курсор стоит
в поле ввода */
.label:hover > .label__input-field {
  outline: 1px solid #2196f3;
}

.registration-form__comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
}

/* форма принятия условий */
.form-check {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-check__agreement {
  line-height: 1.71;
  color: #757575;
  margin-right: 0.3em;
}

.form-check__link {
  display: inline-flex;
  height: 15px;
  color: #2196f3;
  border-bottom: 1px solid #2196f3;
}

.form-send {
  width: 200px;
  height: 50px;
  align-self: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* прячем браузерный чек-бокс используя ранее описанный form-check__input */
/* .form-check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
} */
/* формируем кастомный чек-бокс */
.form-check__box {
  width: 16px;
  height: 15px;
  margin-right: 9px;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em #212121;
  /* Checked */
  /* Focused */
}

.form-check__input:checked + .form-check__box {
  background-color: #2196f3;
  background-image: url(../images/svg/check_mark.svg);
}

.form-check__input:focus + .form-check__box {
  box-shadow: 0 0 0 0.1em #2196f3;
}

/* стилизация класса "кнопки" */
.btn {
  padding: 10px 32px;
  font-family: inherit;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hover:hover,
.btn-focus:focus {
  background-color: #188ce8;
  color: #ffffff;
}

/* формирование overaly */
.overaly {
  position: relative;
  overflow: hidden;
}

.overaly__item {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overaly__text {
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* при ховере или фокусе на ссылке применить оверлей */
.our-projects__link:hover .overaly__item,
.our-projects__link:focus .overaly__item {
  transform: translateY(0);
  background-color: #2196f3;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
  display: inline-flex;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

/* назанчение hover + focus фону иконки */
.social-icons__link:hover, .social-icons__link:focus {
  background-color: #2196f3;
}

/* назанчение hover и focus соц.иконке -
при hover & focus по ссылке */
.social-icons__link:hover .icon,
.social-icons__link:focus .icon {
  fill: #ffffff;
}

.join-us__appeal,
.call-to-sign__appeal {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.join-us__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us__link:not(:last-child) {
  margin-right: 10px;
}

.join-us__link:hover, .join-us__link:focus {
  background-color: #2196f3;
}

.instagram {
  background-image: url(../images/svg/white_instagram.svg);
}

.twitter {
  background-image: url(../images/svg/white_twitter.svg);
}

.facebook {
  background-image: url(../images/svg/white_facebook.svg);
}

.linkedin {
  background-image: url(../images/svg/white_linkedin.svg);
}

/* формирование формы ввода почты в футере */
.call-to-sign {
  flex-grow: 1;
}

.call-to-sign__input {
  display: flex;
  justify-content: space-between;
}

.call-to-sign__email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.call-to-sign__email:invalid:not(:focus) {
  color: red;
}

.call-to-sign__email::placeholder {
  font-size: 16px;
  line-height: 1.25;
  /* identical to box height, or 125% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.submit__fly {
  fill: #ffffff;
  margin-left: 10px;
}

/* раздел навигация Portfolio - кнопки */
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.navigation__item:not(:last-child) {
  display: block;
  margin-right: 8px;
  padding: 0;
}

.navigation__btn {
  background-color: #f5f4fa;
  color: #212121;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__btn:hover, .navigation__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* декорация навигации по сайту */
/* стилизация Главного блока Hero */
.hero {
  padding: 0;
}

.hero__bg-image {
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background/Hero_bcg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

/* формирование padding секции hero и отступа перед кнопкой*/
.hero__definition {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 630px;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
}

.hero__title {
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Приоритеты компании  */
.priorities {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.priorities__item {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-top: 30px;
  margin-left: 30px;
}

.priorities__item + .priorities__item {
  margin-left: 30px;
}

/* формирование и позиционирование картинок svg приоритета через background-image */
.priorities__item::before {
  content: '';
  display: block;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.priorities__icon-details::before {
  background-image: url(../images/svg/antenna.svg);
}

.priorities__icon-timeliness::before {
  background-image: url(../images/svg/clock.svg);
}

.priorities__icon-planning::before {
  background-image: url(../images/svg/diagram.svg);
}

.priorities__icon-technology::before {
  background-image: url(../images/svg/astronaut.svg);
}

.priorities__text {
  color: #757575;
  line-height: 1.71;
}

.priorities__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* секция Чем мы занимаемся и Наша команда */
.company-activity {
  padding-top: 0;
}

.activity-description {
  display: flex;
  /* Делаем Flex-контейнет многострочным */
  flex-wrap: wrap;
  /* Компенсируем маржины элементов */
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.activity-description__item {
  /* Задаём всем элементам маржины слева и сверху */
  margin-left: 30px;
  margin-top: 30px;
  /*  Задаём ширину элементов  */
  flex-basis: calc((100% - 30px * 3) / 3);
}

.company-activity__header,
.ourteam__header {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.17;
}

.activity-description__thumb {
  position: relative;
}

.activity-description__thumb-text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  /* border: 1px solid red; */
}

/* секция ourteam */
.ourteam {
  background-color: #f5f4fa;
}

/* flex список Наша команда - сетка */
.ourteam-members {
  display: flex;
  flex-wrap: wrap;
  /* Компенсируем маржины элементов */
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.ourteam-members__item {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* our-team представление членов команды */
.ourteam-members {
  /* подписи к фотографиям сотрудников */
}

.ourteam-members__title {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.ourteam-members__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.ourteam-members__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* our customers */
.customers-section__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.customers-list {
  display: inline-flex;
}

.customers-list__item:not(:last-child) {
  margin-right: 30px;
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list__link:hover .customers-list__icon,
.customers-list__icon .customers-list__link:focus {
  fill: #2196f3;
}

.customers-list__link:hover, .customers-list__link:focus {
  border: 1px solid #2196f3;
}

/* formating footer */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: #ffffff;
}

/* сетка элементов футера */
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

/* расчет ширины элемента выполнятся от ширины 1170px */
.footer__item {
  flex-basis: calc((100% / 12) * 3 - 22.5px);
}

.footer__item:not(:first-of-type) {
  margin-left: 30px;
}

/* цвет логотипа Studio изменен на белый */
.logo--footer {
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  color: #ffffff;
}

.street {
  color: #ffffff;
  font-style: normal;
  line-height: 1.19;
}

.company-info__item {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.19;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-info__item:not(:last-child) {
  margin-bottom: 9px;
}

.company-info__item:not(.street):hover, .company-info__item:not(.street):focus {
  color: #2196f3;
}

/* Страница Портфолио Portfolio */
.our-projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 30px);
  margin-left: calc(-1 * 30px);
}

.our-projects__item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

/* Описание работ Portfolio */
.our-projects__link {
  display: inline-flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-projects__item-decription {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.our-projects__item-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.our-projects__item-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-projects__link:hover, .our-projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
/*# sourceMappingURL=main.css.map */