@import './vendors/normalize';
@import './utils/variables';

@import './basis/common';
@import './basis/section';
@import './basis/container';
@import './components/header';
@import './components/current-underline';
@import './components/logo';
@import './components/backdrop';
@import './components/modal';
@import './components/registration-form';
@import './components/button';
@import './components/overlay';
@import './components/icon';
@import './components/social-icons';
@import './components/join-us';
@import './components/sibscribe-form';
@import './components/portfolio-nav';

@import './layout/navigation-header';
@import './layout/hero';
@import './layout/priorities';
@import './layout/our-activity_team';
@import './layout/customers';
@import './layout/footer';
@import './layout/portfolio';
