/* our customers */

.customers-section__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-color;
  margin-bottom: 30px;

  @media screen and (min-width: 1199px) {
    margin-bottom: 50px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  &__item {
    @media screen and (max-width: 767.98px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin-left: 30px;
      margin-top: 30px;

      max-width: 210px;
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 3 * 30px) / 3);
      margin-left: 30px;
      margin-top: 30px;

      max-width: 226px;
    }

    @media screen and (min-width: 1199px) {
      max-width: 170px;
    }
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90px;
    border: 1px solid $social__link-color;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: $social__link-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.customers-list__icon {
  .customers-list__link:hover &,
  .customers-list__link:focus & {
    fill: $accent-color;
  }
}

.customers-list__link {
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}
