/* formating footer */

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $hero-footer-bcg-color;
  color: $accent-button-text;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

/* сетка элементов футера */

.footer {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  @media screen and (max-width: 1199px) {
    justify-content: space-around;
  }
}

// расчет ширины элемента выполнятся
// от ширины контейнера
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__item {
    flex-basis: calc((100% / 6) * 3 - 30px);
    // flex-basis: calc((100% - 2 * 30px) / 2);

    &:nth-child(2) {
      margin-left: 60px;
    }
  }
}

/* расчет ширины элемента выполнятся от ширины 1170px=1200-2*15 */
@media screen and (min-width: 1200px) {
  .footer__item {
    flex-basis: calc((100% / 12) * 3 - 22.5px);

    &:last-of-type {
      margin-left: 30px;
    }
  }
}

/* цвет логотипа Studio изменен на белый */
.logo--footer {
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  color: $accent-button-text;
}

.street {
  color: $accent-button-text;
  font-style: normal;
  line-height: 1.19;
}

@media screen and (max-width: 767.98px) {
  .company-info {
    margin-bottom: 60px;
  }

  .join-us {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .company-info {
    margin-bottom: 60px;
    text-align: left;
  }
}

.company-info__item {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.19;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:not(.street) {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
