/* стилизация Главного блока Hero */
.hero {
  padding: 0;
  text-align: center;
}

/* формирование paddings секции hero и отступа перед кнопкой*/
.hero-paddings {
  padding: 118px 60px;

  @media screen and (min-width: 200px) and (max-width: 319.98px) {
    padding: 80px 30px;
  }

  @media screen and (min-width: 320px) and (max-width: 456.98px) {
    padding: 95px 50px;
  }

  @media screen and (min-width: 1199px) {
    padding: 200px;
  }
}

.hero {
  &__definition {
    // text-align: center;
    max-width: 696px;
    margin-right: auto;
    margin-left: auto;
    color: $accent-button-text;

    @media screen and (max-width: 767.98px) {
      max-width: 360px;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-family: inherit;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1199px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
