/* цвет фона страницы  #ffffff */
/* декоративный цвет логотипа #2196f3 */
/* цвет основного текста #212121 */
/* цвет вторичного текста #757575 */
/* фон кнопки hero без наведения #2196f3 */
/* фон кнопки hero при наведении  #188ce8 */
/* цвет акцентированного текста кнопок #ffffff */
/* цвет акцентированного фона кнопок #188ce8 */
/* цвет акцентированного цвета ссылок #2196f3 */
/* цвет фона разделов hero & footer  #2f303a */
/* установка зазора между элементами flexbox --card-set-gap: 30px; */

$logo-color: #2196f3;
$main-text-color: #212121;
$secondary-text-color: #757575;
$body-bcg-color: #ffffff;

$hero-button-accent-background: #188ce8;
$accent-button-text: #ffffff;

$accent-color: #2196f3;
$hero-footer-bcg-color: #2f303a;
$header-border: #ececec;
$secondary-bcg: #f5f4fa;
$social__link-color: #afb1b8;
$card-set-gap: 30px;
$modal-client-border: rgba(33, 33, 33, 0.2);
