.current {
  color: $accent-color;
}

.current::after {
  content: '';

  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translate(-50%, 0);

  width: 48px;
  height: 4px;
  background-image: url(../images/svg/line.svg);
  background-repeat: no-repeat;
}
