/* header - верхняя линия сайта */
.header {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #ececec;
}

/* flexbox для header */
.header-navigation {
  display: flex;
  align-items: center;
}

.navigation-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;

  &__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $main-text-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

/* установка расстояния 50px между элементами */
.navigation-block__item:not(:last-child) {
  margin-right: 50px;
}

.link-font {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts {
  display: flex;

  & > .contacts__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__link {
    color: $secondary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &:hover .e-mail,
    &:focus .e-mail,
    &:hover .smartphone,
    &:focus .smartphone {
      fill: $accent-color;
    }
  }

  &__link + &__link {
    margin-left: 50px;
  }
}

.e-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $secondary-text-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone {
  /* display: inline-flex; */
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: $secondary-text-color;

  transition: fill 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}
