/* устанавливаем св-ва Контейнера */
.container {
  max-width: 1200px;
  min-width: 280px;
  height: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (max-width: 767.98px) {
    max-width: 480px;

    // background-color: rgb(115, 252, 36);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;

    // background-color: rgb(250, 186, 247);
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;

    // background-color: rgb(239, 247, 166);
  }
}
