/* устанавливаем св-ва Контейнера */
.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
    background-color: rgb(115, 252, 36);
    border: 1px solid red;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    background-color: rgb(250, 186, 247);
    border: 1px solid red;
  }

  @media screen and (min-width: 1170px) {
    width: 1170px;
    background-color: rgb(239, 247, 166);
    border: 1px solid red;
  }
}
