.join-us {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.join-us__appeal {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $accent-button-text;
}

// .join-us__link {
//   display: inline-flex;
//   width: 44px;
//   height: 44px;

//   border-radius: 50% 50%;
//   background-color: rgba(255, 255, 255, 0.1);
//   background-size: 20px 20px;
//   background-position: center;
//   background-repeat: no-repeat;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:not(:last-child) {
//     margin-right: 10px;
//   }

//   &:hover,
//   &:focus {
//     background-color: $accent-color;
//   }
// }

// .instagram {
//   background-image: url(../images/svg/white_instagram.svg);
// }

// .twitter {
//   background-image: url(../images/svg/white_twitter.svg);
// }

// .facebook {
//   background-image: url(../images/svg/white_facebook.svg);
// }

// .linkedin {
//   background-image: url(../images/svg/white_linkedin.svg);
// }
