/* формирование overaly */

.overaly {
  position: relative;
  overflow: hidden;

  &__item {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__text {
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $accent-button-text;
    opacity: 0;

    padding: 77px 24px;

    @media screen and (min-width: 768px) {
      padding: 49px 24px;
    }

    @media screen and (min-width: 1200px) {
      padding: 50px 24px;
    }

    @media screen and (max-width: 449.98px) {
      padding: 5% 8%;
      font-size: 15px;
    }

    @media screen and (max-width: 309.98px) {
      font-size: 14px;
    }

    @media screen and (min-width: 370px) and (max-width: 449.98px) {
      font-size: 18px;
    }
  }
}

/* при ховере или фокусе на ссылке применить оверлей */
.overaly__item {
  .our-projects__link:hover &,
  .our-projects__link:focus & {
    transform: translateY(0);
    background-color: $accent-color;
    opacity: 1;
  }
}

.overaly__text {
  .our-projects__link:hover &,
  .our-projects__link:focus & {
    opacity: 1;
  }
}
