/* оформление формы ввода данных клиента модального окна */
.registration-form {
  display: flex;
  flex-direction: column;

  &__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.05;
    text-align: center;
    letter-spacing: 0.03em;

    color: $main-text-color;
    margin-bottom: 12px;
  }
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;

  &__description {
    margin-bottom: 4px;
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 30px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:nth-child(-n + 5) {
    margin-top: 10px;
  }
}

.label__input-field,
.registration-form__comment {
  border: 1px solid $modal-client-border;
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label__icon {
  .label:hover &,
  .label__input-field:hover + &,
  .label__input-field:focus + & {
    fill: $accent-color;
  }
}

.label__input-field {
  & :hover,
  & :focus {
    border: 1px solid $accent-color;
    outline-color: $accent-color;
  }
}

/* назначение ховареа полю ввода при наведении для
выделении его при наведении на иконку, когда курсор стоит
в поле ввода */
.label:hover > .label__input-field {
  outline: 1px solid $accent-color;
}

.registration-form__comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
}

/* форма принятия условий */

.form-check {
  display: flex;
  position: relative;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;

  &__agreement {
    line-height: 1.71;
    color: $secondary-text-color;
    margin-right: 0.3em;
  }

  &__link {
    display: inline-flex;
    height: 15px;
    color: $accent-color;
    border-bottom: 1px solid $accent-color;
  }
}

.form-send {
  width: 200px;
  height: 50px;
  align-self: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* прячем браузерный чек-бокс используя ранее описанный form-check__input */
/* .form-check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
} */

/* формируем кастомный чек-бокс */
.form-check__box {
  width: 16px;
  height: 15px;
  margin-right: 9px;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: rgb(250, 250, 250);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 0 0 0 0.1em $main-text-color;

  /* Checked */
  .form-check__input:checked + & {
    background-color: $accent-color;
    background-image: url(../images/svg/check_mark.svg);
  }
  /* Focused */
  .form-check__input:focus + & {
    box-shadow: 0 0 0 0.1em $accent-color;
  }
}
