/* формирование формы ввода почты в футере */
.subscribe {
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
  }

  &__appeal {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: $accent-button-text;
  }

  &__input {
    @media screen and (max-width: 767.98px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__email {
    padding-left: 16px;

    // width: 358px;
    height: 50px;
    max-width: 450px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
    }

    color: #fff;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    // &:valid:not(:focus) {
    //   color: green;
    // }

    &:invalid:not(:focus) {
      color: red;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.03em;

      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.submit {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &__fly {
    fill: $accent-button-text;
    margin-left: 10px;
  }
}
